* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgba(207, 229, 255, 0.945);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Montserrat;
}

.wrapper {
    background: rgb(247, 247, 247);
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #8a9098;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.tech-skills-title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skills-item {
    color: #ff6b08;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}

.tech-skills-span {
    color: #b0b4b9;
}

.soft-skills-title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.soft-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.soft-skills-item {
    color: #ff6b08;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}

.soft-skills-span {
    color: #b0b4b9;
}

.info-me {
    margin-bottom: 65px;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.my-name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
    margin-bottom: 24px;
}

.descrition {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #3b1212;;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 55px;
    margin-bottom: 20px;
}

.projects-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dots {
    color: #a8a8a8;
    font-weight: 100;
}

.projects-item {
    font-weight: 700;
    margin-left: 18px;
}

.projects-container {
    margin-bottom: 55px;
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profession-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.profession-devider {
    color: #000;
}

.profession-duties {
    margin-top: 15px;
    margin-bottom: 30px;
}

.profession-duties-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}

.professon-company {
    color: #ff8a3c;
}

.profession-work {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}